name: Publish Evmos node

on:
  workflow_dispatch:
    inputs:
      zbc_build_image_tag:
        description: 'Tag for zbc build docker image (defaul:latest)'
        required: true
        default: "latest"
        type: string
      evmos_node_tag:
        description: 'Evmos node tag (default: latest)'
        default: "latest"
        type: string
        required: false

env:
  DOCKER_IMAGE: ghcr.io/zama-ai/evmos-node

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: evmos

      - name: Get version for all needed repositories
        working-directory: ./evmos
        run: |
          echo "ZBC_DEVELOPMENT_VERSION=$(./scripts/get_version_from_makefile.sh ZBC_DEVELOPMENT_VERSION)" >> $GITHUB_ENV
          echo "TFHE_RS_VERSION=$(./scripts/get_version_from_makefile.sh TFHE_RS_VERSION)" >> $GITHUB_ENV
          echo "ZBC_FHE_TOOL_VERSION=$(./scripts/get_version_from_makefile.sh ZBC_FHE_TOOL_VERSION)" >> $GITHUB_ENV
          echo "ZBC_SOLIDITY_VERSION=$(./scripts/get_version_from_makefile.sh ZBC_SOLIDITY_VERSION)" >> $GITHUB_ENV
          echo "ETHERMINT_VERSION=$(./scripts/get_module_version.sh go.mod zama.ai/ethermint)" >> $GITHUB_ENV
          echo "GO_ETHEREUM_VERSION=$(./scripts/get_module_version.sh go.mod zama.ai/go-ethereum)" >> $GITHUB_ENV
          
      - name: Echo versions parsed from Makefile and go.mod
        run: |
          echo "TFHE_RS_VERSION: $TFHE_RS_VERSION"
          echo "ETHERMINT_VERSION: $ETHERMINT_VERSION"
          echo "GO_ETHEREUM_VERSION: $GO_ETHEREUM_VERSION"

      - name: Checkout tfhe-rs
        uses: actions/checkout@v3
        with:
          repository: zama-ai/tfhe-rs
          token: ${{ secrets.CONCRETE_ACTIONS_TOKEN }}
          path: ./evmos/work_dir/tfhe-rs
          ref: ${{ env.TFHE_RS_VERSION }}

      - name: Checkout go-ethereum
        uses: actions/checkout@v3
        with:
          repository: zama-ai/go-ethereum
          token: ${{ secrets.CONCRETE_ACTIONS_TOKEN }}
          path: ./evmos/work_dir/go-ethereum
          ref: ${{ env.GO_ETHEREUM_VERSION }}

      - name: Checkout ethermint
        uses: actions/checkout@v3
        with:
          repository: zama-ai/ethermint
          token: ${{ secrets.CONCRETE_ACTIONS_TOKEN }}
          path: ./evmos/work_dir/ethermint
          ref: ${{ env.ETHERMINT_VERSION }}


      - name: Check OS
        run: |
          lscpu
          uname -r
          lsb_release -a

      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}

      - name: Add determinism flag to Makefile
        working-directory: ./tfhe-rs
        run: |
          sed -i 's/high-level-c-api/high-level-c-api,experimental-force_fft_algo_dif4/g' Makefile
          grep high-level-c-api Makefile

      - name: Check zbc build image docker tag
        run: |
          echo ${{ inputs.zbc_build_image_tag }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build local docker 
        working-directory: ./evmos
        run: |
          make build-local-docker
          docker tag evmos-node:${{ inputs.evmos_node_tag }}
          docker tag evmos-node:latest
          docker push ${{ env.DOCKER_IMAGE }} --all-tags
